:root{
    --branding-color:#6C63FF;
    --secondary-color: #F9F7FE;
    --heading-font-family:'Lora', serif;
    --default-font-family: 'Poppins', sans-serif;
}


.body-style{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 80px 20px;
}

h1,
h2,
h3,
h4{
    font-family: var(--heading-font-family);
}

body{
    font-family: var(--default-font-family);
}

h1{
    font-size: 86px;
    line-height: 1.2;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 48px;
}

p{
    font-size:16px;
    line-height: 30px;
}

.body-style p{
    font-size: 36px;
    color: #272142;
    font-weight: bold;
}

.body-style h2{
    font-size: 26px;
    line-height: 36px;
    color: #272142;
    font-family: 'Poppins', sans-serif;
}

.content-container{
    padding: 60px 20px;
}

.content{
    margin: 30px;
}

.btn-branding{
    padding:18px 30px;
    background-color: var(--branding-color);
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
}

.btn-branding-outline{
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    padding: 18px 30px;
    font-size: 18px;
}

.project-description{
    padding: 120px 60px;
}

.content h1{
    font-size: 64px;
    line-height: 1.2;
}

.content h3{
    font-size: 24px;
    font-family: var(--default-font-family);
    font-weight: bold;
    margin: 0;
}

.content-container h2{
    font-size: 18px;
    font-family: var(--default-font-family);
    font-weight: bold;
    margin: 30px 0;
}

img{
    border-radius: 20px;
}

.my-photo{
    max-width: 90%;
}

.work-paragraph{
    font-size: 14px;
}

nav{
    padding: 20px 0;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 12px;
    font-size: 16px;
}

nav a{
    text-decoration: none;
    color: black;
    opacity: 80%;
    transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a{
    color:var(--branding-color);
}

.logo{
    max-height: 40px;
}

footer{
    margin: 60px 0;
}

footer .contact-box{
    background-color: var(--secondary-color);
    padding: 30px 120px;
    margin-bottom: 50px;
    border-radius: 10px;
}

footer .contact-box p{
    margin: 0;
}

footer .email-link{
    text-decoration: none;
    font-size: 24px;
    color:black;
}

footer .email-link:hover{
    color:var(--branding-color)
}

footer .social-links a{
    margin: 0 20px;
    color:var(--branding-color);
    background-color: var(--secondary-color);
    font-size: 18px;
    padding:10px 16px;
    border-radius: 50%;
    transition: all 120ms ease-in-out;
}

footer .social-links a:hover{
    background-color: var(--branding-color);
    color:#ffffff;
}

@media(max-width: 900px){
    h1{
        font-size: 50px;
        margin: 40px;
    }

    h2{
        font-size: 42px;
    }

    h3{
        font-size: 26px;
    }
   
    .project-description{
        padding: 0;
        text-align: center;
    }

    .body-style{
        padding: 80px 20px;
    }

    .content-container{
        text-align: center;
        padding: 0;
    }

    .content-container h1{
        font-size: 46px;
    }

    nav a{
        font-size: 14px;
    }
   
    footer .email-link{
        font-size: 20px;
    }
}
